body{
    background-color:#ffb6c1;
    font-size: 15px;
    font-family:arial;
    text-align: center;
    margin-top: 100px;
 }
 header h1{
         font-family: castellar;
         font-size: 20px;
         text-align: center;
 }

 .piedepagina{
            background-color: #87ceeb;
            margin-top: 100px;
            font-family: castellar;
            font-size: 20px;

 }

.piedepagina p{
   padding: 100px;
}